<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Dwg no:</strong>
  <%= @product.dwg_no %>
</p>

<p>
  <strong>Available stock:</strong>
  <%= @product.available_stock %>
</p>

<p>
  <strong>Client:</strong>
  <%= @product.client_id %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @product.unit_cost %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
