<%= form_for @supplier, :html => { :class => "form-horizontal supplier" } do |f| %>

  <% if @supplier.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @supplier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :info, :class => 'form-control' %>
    </div>
    <%=f.error_span(:info) %>
  </div>
  <div class="form-group">
    <%= f.label :pan_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pan_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pan_no) %>
  </div>
  <div class="form-group">
    <%= f.label :tin_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tin_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tin_no) %>
  </div>
  <div class="form-group">
    <%= f.label :cst_reg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cst_reg, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cst_reg) %>
  </div>
  <div class="form-group">
    <%= f.label :contact_person, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :contact_person, :class => 'form-control' %>
    </div>
    <%=f.error_span(:contact_person) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                suppliers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>