<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body>
  <script>
    <% flash.each do |key,value| %>
      <%if key == "alert"%>
        $.notify({
          title: '<strong>Heads up!</strong>',
          message: '<%= value %>'
        },{
          type: 'danger'
        });
      <%else%>
        $.notify({
          title: '<strong>Heads up!</strong>',
          message: '<%= value %>'
        },{
          type: 'success'
        });
      <%end%>
    <% end %>
  </script>
    <div id="wrapper">
      <!-- Navigation -->
      <% if user_signed_in? %>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">SB ADMIN</a>

          </div>
        
          <!-- /.navbar-header -->
           
            

            
            <% if can? :create, Client.new %>
            <%= link_to "Clients", clients_path  %>   
            <% end %> 
            
            <% if can? :create, Addstock.new %>
            <%= link_to "Add Stocks", addstocks_path  %>  
            <% end %> 
            
            <% if can? :create, Employee.new %>
            <%= link_to "Employee", employees_path  %>
            <% end %>
           
            <% if can? :create, Invoice.new %>
            <%= link_to "Invoice", invoices_path  %>
            <% end %>
           
            <% if can? :create, PurchaseOrder.new %>
            <%= link_to "Purchase Order", purchase_orders_path  %>
            <% end %>
            
            <% if can? :create, RecievePayment.new %>
            <%= link_to "Recieve Payment", recieve_payments_path  %>
            <% end %>
            
            <% if can? :create, Paybill.new %>
            <%= link_to "Pay Bills", paybills_path  %>
            <% end %>
            
            <% if can? :create, Expense.new %>
            <%= link_to "Expenses", expenses_path  %>
            <% end %>
           
            <% if can? :create, Despatch.new %>
            <%= link_to "Despatch", despatches_path  %>
            <% end %>
            
            <% if can? :create, Supplier.new %>
            <%= link_to "Suppliers", suppliers_path  %>
            <% end %>
          
            <% if can? :create, Material.new %>
            <%= link_to "Materials", materials_path %>
            <% end %>
            
            <% if can? :create, Product.new %>
            <%= link_to "Products", products_path %>
            <% end %>
           
            <% if can? :create, Company.new %>
            <%= link_to "My Company", companies_path %>
            <% end %>
           
            <% if can? :create, Production.new %>
            <%= link_to "Daily production", productions_path %>
            <% end %>
            
            <%= link_to "sign out", destroy_user_session_path, :method => 'delete' %> 
           
            <%= link_to "sign in", new_user_session_path, :method => 'delete' %>
        
          
            <% if can? :create, Attendence.new %>
            <%= link_to "Attendance", attendences_path  %>
            <% end %>
            
           
            <% if can? :create, Category.new %>
            <%= link_to "Category", categories_path  %>
            <% end %>
           
            <% if can? :create, Contact.new %>
            <%= link_to "Contacts", contacts_path  %>
            <% end %>
            
             
          
          <%= link_to "sign out", destroy_user_session_path, :method => 'delete' %> 
        </nav>
      <% end %>
      <%= yield %>
    </div>
  </body>

</html>
